/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #menu {
    display: none;
    z-index: 1;
  }
  
  /* Style navigation menu links */
  .topnav a, #menu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  

